@tailwind base;
@tailwind components;
@tailwind utilities;

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.name {
    padding: 5px;
    text-align: center;
}

div.desc {
    padding: 5px;
    text-align: center;
}