NEXT_PUBLIC_NFT_STORAGE_KEY=
NEXT_PUBLIC_WALLET_PRIVATE_KEY=
export NEXT_PUBLIC_DAPP_ADDRESS=0xb923303d20c38a120669ad0ed751a105f254b049e75a350111d566009df9ba11
epxort NEXT_PUBLIC_DAPP_NAME=DID
NEXT_PUBLIC_MARKET_FEE_NUMERATOR=10
NEXT_PUBLIC_MARKET_INITIAL_FUND=10000
export NEXT_PUBLIC_MARKET_COIN_TYPE=0x1::aptos_coin::AptosCoin
export NEXT_PUBLIC_APTOS_NODE_URL=https://fullnode.testnet.aptoslabs.com/v1/
NEXT_PUBLIC_APTOS_FAUCET_URL=https://faucet.devnet.aptoslabs.com/v1/
export NEXT_PUBLIC_APTOS_NETWORK=testnet
NEXT_PUBLIC_SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
