NEXT_PUBLIC_NFT_STORAGE_KEY=
NEXT_PUBLIC_WALLET_PRIVATE_KEY=
export NEXT_PUBLIC_DAPP_ADDRESS=0x2729d744b1872ee653b90ddb122c32b05f4ac77792c255a383ecb3bd1d72504a
export NEXT_PUBLIC_DAPP_NAME=_1200_dollars_per_hour
export NEXT_PUBLIC_MARKET_FEE_NUMERATOR=10
export NEXT_PUBLIC_MARKET_INITIAL_FUND=10000
export NEXT_PUBLIC_MARKET_COIN_TYPE=0x1::aptos_coin::AptosCoin
export NEXT_PUBLIC_APTOS_NODE_URL=https://fullnode.testnet.aptoslabs.com/v1/
export NEXT_PUBLIC_APTOS_FAUCET_URL=https://faucet.devnet.aptoslabs.com/v1/
NEXT_PUBLIC_SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
