NEXT_PUBLIC_NFT_STORAGE_KEY=
NEXT_PUBLIC_WALLET_PRIVATE_KEY=
export NEXT_PUBLIC_DAPP_ADDRESS=0x65f4a0954aa6e68d2381ff98b7676df2fe57beee3ca37a4a8a57fa621c1db872
epxort NEXT_PUBLIC_DAPP_NAME=DID
NEXT_PUBLIC_MARKET_FEE_NUMERATOR=10
NEXT_PUBLIC_MARKET_INITIAL_FUND=10000
export NEXT_PUBLIC_MARKET_COIN_TYPE=0x1::aptos_coin::AptosCoin
export NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_SUPABASE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
